@import "variables";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  &:hover {
    color: lighten($brand-primary, 10%);
  }

  &:active, &:focus, &:hover {
    text-decoration: none;
  }
}

p {
  line-height: 1.5em;
}