$accent:          #ea4748;

$font-sans-serif: 'Source Sans Pro', sans-serif;
$font-serif:      'Alegreya', serif;
$font-monospace:  'Inconsolata', monospace;

$font-size-root:   16px;


/** Heading */
$font-family-heading: $font-serif;

/** Header */
$header-border-color: gray;

/** Footer */
$footer-background-color: #060606;
$footer-link-color: white;
$footer-font-color: gray;