<header id="header">
  <div class="header-body">
    <div class="container header-container">
      <div class="row header-row">
        <div class="col-6 header-column">
          <h1 class="header-logo">
            <a href="<%- url_for() %>">
              <img alt="<%= config.title %>" height="35" src="/assets/logo.svg" />
            </a>
          </h1>
        </div>
      </div>
    </div>
  </div>
</header>
