@import "variables";

#header {
  .header-body {
    border-top: 5px solid $header-border-color;
  }

  .header-container {
    position: relative;
    border-bottom: 1px solid $header-border-color;

    .header-logo {
      float: left;
      line-height: 55px;
      margin: 0;
    }
  }
}
